.my-wrapper{
    margin-top:50px;
    margin-bottom: 50px;
    .list-block {
        .item-title {
            font-size: 16px;
            .icon {
                margin-right: 10px;
            }
        }
    }
    .empty-item-wrapper{
        padding-top:100px;
        text-align: center;
        color:#777;
        font-size:16px;
    }
    .load-more {
        background-color:#fff;
        color:#999;
        text-align: center;
        height:30px;
        line-height:30px;
        margin-top:10px;
    }

    .load-finish {
        text-align: center;
        color:#999;
        height:30px;
        line-height:30px;
        margin-top:10px;
    }
}