.item-detail-wrapper {
    margin-top: 50px;
    padding-bottom:50px;
    background-color: #fff;
    -webkit-box-shadow: #BFBEBE 0px 0px 10px;
    .user-info-wrapper {
        height: 50px;
        line-height: 15px;
        padding: 10px 10px 0px 10px;
        .price-wrapper {
            margin-top: 5px;
            float: right;
            color: #EC4000;
            .cur-price {
                font-size: 20px;
                font-weight: bolder;
            }
            .origin-price {
                font-size: 11px;
                color: #999;
                text-decoration: line-through;
            }
        }
        .user-name-wrapper {
            float: left;
            margin-left: 5px;
            .user-name {
                font-size: 15px;
            }
            .release-time {
                font-size: 11px;
                color: #999;
            }
        }
         .user-image {
                float: left;
                width: 35px;
                height: 35px;
                background-size: cover;
                border-radius: 50%;
                margin-right: 5px;
            }
    }
    .contact-wrapper {
        padding:0 10px;
        label{
            padding:2px 5px;
            background:#ff8b98;
            border-radius:2px;
            color:#fff;
        }
        .contact-item {
            margin-top: 5px;
        }
    }
    .item-image-wrapper {
        padding: 10px 20px;
        -webkit-overflow-scrolling: touch;
        overflow: hidden;
        margin-top: 7px;
        width: 100%;
        overflow: scroll;
        overflow-x: auto;
        img {
            width: 100%;
            margin-top:20px;

        }
    }
    .item-image {
        // display: inline-block;
        float: left;
        overflow: hidden;
        background-repeat:no-repeat;
        background-position:center;
        background-size: cover;
        width: 100px;
        height: 100px;
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
    .detail-wrapper {
        // margin-top: 10px;
        font-size: 14px;
        padding: 5px 10px;
        .item-title {
            color:#419aff;
            font-size: 14px;
            opacity: 0.7;
            font-weight: bolder;
        }
    }
}
