.m-release-wrapper {
    margin-top: 50px;
    padding-bottom: 80px;
    .release-btn {
        padding: 0 10px;
    }
    .weui_uploader_file {
        img {
            width: 75px;
            height: 75px;
        }
    }
}
